@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&amp;display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}
:root{
/* ## Colors */
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}
body{
    background: url(./assets/images/background-pattern-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-color: var(--Light-pink);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    position: relative;
}
.container{
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    margin: 0 auto;
    /* min-height: 600px; */
}
.head1{
    display: flex;
    margin-bottom: 10px;
}
.head1 img{
    width: 28px;
}
.head1 h1{
    margin-left: 30px;
}
.bigblock{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 30px 0 0 0;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.question h4{
    width: 100%;
    max-width: 220px;
}
.question img{
    padding-left: 25px;
}
.answer{
    color: var(--Grayish-purple);
    margin-top: 20px;
}
.hide{
    display: none;
}

@media (min-width:380px) {
    body{
        background: url(./assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        /* background-position: ; */
    }
    .container{
        max-width: 500px;
    }
    .question h4{
        max-width: 300px;
    }
}
@media (min-width:500px) {
    .question h4{
        max-width: 400px;
    }
}

@media (min-width:600px) {
    .container{
        max-width: 600px;
    }
    .question h4{
        max-width: 600px;
    }
}