@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Brightblueone: hsl(245, 100%, 71%);
    --Brightbluepale: hsla(245, 75%, 52%, 65%);


    --Desaturatedblue: hsl(224, 23%, 55%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Darkblue: hsl(223, 47%, 23%);
}
body{
    background-color: var(--Paleblue);
    font-family: Red Hat Display, sans-serif;
    font-weight: 500;
    margin: 100px 30px;
    color: var(--Desaturatedblue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
h2{
    color: var(--Darkblue);
    padding: 10px 0;
    font-weight: 900;
}
h4{
    color: var(--Darkblue);
    font-weight: 900;
}
.container{
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 20px;
    max-width: 400px;
}
.ill{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.main-para{
    padding: 10px 35px 20px 35px;
    line-height: 1.7;
}
.box{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: var(--Verypaleblue);
}
.box1{
    display: flex;
}
.bind{
    padding-left: 25px;
}
.change{
    cursor: pointer;
    color: var(--Brightblue);
    text-decoration: underline;
}
.change:hover{
    color: var(--Brightblueone);
}
.btn1{
    margin: 15px 0;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    background-color: var(--Brightblue);
    box-shadow: 1px 5px 50px var(--Brightbluepale);
    color: white;
    cursor: pointer;
}
.btn1:hover{
    background-color: var(--Brightblueone);
}
.btn2{
    padding: 15px 0;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}
.btn2:hover{
    color: var(--Darkblue);
}

@media (min-width: 600px){
    body{
        background: url(./images/pattern-background-desktop.svg) no-repeat;
        background-position:  top center;
        background-size: contain;
        background-color: var(--Paleblue);
    }
    .container{
        max-width: 500px;
    }
    .box{
        padding: 40px 50px;
    }
}