
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-purple:#24053E;
    --davy-grey:#584D62;
    --light-green:#44FFA1;
    --ghost-white:#FCF8FF;
    --white:#FFFfff;
    --font-fam-heading:'Fraunces 144pt S000', sans-serif;
    --font-fam-body: 'Manrope', sans-serif;
}
body{
    font-family: 'Manrope', sans-serif;
}
img{
    width: 100%;
}