:root{
    /* ## Colors */

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body{
    background-color: var(--Light-Grayish-Blue);
    padding: 100px 30px;
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 13px;
}
.container{
    background-color: white;
    border-radius: 15px;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
}
.container .drawers{
    line-height: 0;
    width: 100%;
}
.container .drawers img{
    /* height: 250px; */
    width: 100%;
    /* display: inline-block; */
    /* float: left; */
    border-radius: 15px 15px 0 0;
}
.container .bigcard{
    padding: 30px 30px 20px 30px;
    width: 100%;
    height: 100%;
}
.container .bigcard .card h2{
    list-style: 1.2;
    padding-bottom: 20px;
}
.container .card p{
    padding-bottom: 30px;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
}
.profile .name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .name p{
    padding-bottom: 0;
}
.container .bigcard .card .profile img{
    width: 50px;
    border-radius: 100%;
}
.profile .share{
    /* width: 100%; */
    max-width: 20px;
    height: 20px;
    background-color: white;
}
.profile .share img{
    width: 20%;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--Very-Dark-Grayish-Blue);
    padding: 15px 30px ;
    color: var(--Grayish-Blue);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -40px;
    border-radius: 0 0 15px 15px;
}
.banner h4{
    text-transform: uppercase;
    display: inline-flex;
    letter-spacing: 3px;
}
.banner .img{
    display: flex;
    gap: 15px;
}
.banner .img img{
    width: 22px;
}
.share{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: var(--Grayish-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.share img{
    color: white;
}
.hide{
    display: none;
}
@media (min-width: 700px) {
    body{
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 670px;
        width: 100%;
        /* height: 266px; */
        /* height: 270px; */
    }
    .container .drawers{
        /* display: flex; */
        /* align-items: center; */
        font-size: 0;
        display: inline-flex;
        /* flex: 35%; */
    }
    .container .drawers img{
        border-radius: 15px 0 0 15px;
        /* display: block; */
    }
    .container .bigcard{
        /* flex: 65%; */
        padding: 0 20px;
        /* margin: 25px; */
        /* height: 280px; */
    }
    .container .bigcard .card{
        /* max-width: 365px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .container .bigcard .card h2{
        /* max-width: 365px */
    }
}
@media (min-width: 720px) {
    body{
        padding: 20px;
    }
    .container{
        max-width: 750px;
    }
    .container .bigcard{
        padding: 15px 20px;
    }
}
@media (min-width: 760px) {
    body{
        padding: 20px;
    }
    .container{
        max-width: 750px;
    }
    .container .bigcard{
        padding: 25px;
    }
}
@media (min-width: 800px) {
    body{
        padding: 20px;
    }
    .container{
        max-width: 800px;
    }
    .container .bigcard{
        padding: 25px 30px;
    }
    .container .bigcard .card{
        max-width: 360px;
    }
    .profile{
        max-width: 350px;
    }
}
