:root{
    /* ## Colors */

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body{
    background: var(--Light-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container .drawers{
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* object-position: top 10px right 0; */
    margin-bottom: -40px;
}
.card{
    padding: 20px 30px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    position: relative;
}
.card h2{
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--Very-Dark-Grayish-Blue);
} 
.card p{
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--Desaturated-Dark-Blue);
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.profile img{
    width: 13%;
    border-radius: 100%;
}
.profile p{
    margin-bottom: 0;
}
.share{
    background-color: var(--Light-Grayish-Blue);
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.name{
    margin-left: -10px;
}
.name h3{
    color: var(--Very-Dark-Grayish-Blue);
}
.share img{
    width: 16px;
}
.banner{
    height: 60px;
    margin-top: -10px;
    padding: 0 30px;
    z-index: 1;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h4{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 100;
    color: var(--Grayish-Blue);
}
.banner .share{
    width: 32px;
    height: 32px;
    background: var(--Grayish-Blue);
}
.banner .share img{
    width: 15px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: -50px;
}
.hide{
    display: none;
}
@media (min-width:500px) {
    .container{
        /* padding: 0; */
        max-width: 480px;
    }
}