@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);


    --VerydarkbluemainBG: hsl(217, 54%, 11%);
    --VerydarkbluecardBG: hsl(216, 50%, 16%);
    --Verydarkblueline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--VerydarkbluemainBG);
    color: white;
    margin: 140px 20px;
    font-family: Outfit, sans-serif;
    font-weight: 400;
}
h2{
    padding-top: 20px;
    cursor: pointer;
}
h2:hover{
    color: var(--Cyan);
}
hr{
    margin: 20px 0;
}
span{
    color: white;
    cursor: pointer;
}
span:hover{
    color: var(--Cyan);
}
.container{
    margin: 0 auto;
    background-color: var(--VerydarkbluecardBG);
    border-radius: 20px;
    padding: 30px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1{
    position: relative;
}
.image{
    width: 100%;
    border-radius: 10px;
}.overlay{
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: transparent;
    opacity: 0.5;
    top: 0;
    cursor: pointer;
}
.overlay:hover{
    background-color: var(--Cyan);
    border-radius: 10px;
}
.hover-icon{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.overlay:hover .hover-icon{
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%,-50%);
    opacity: 1;
}
.main-para{
    color: var(--Softblue);
    margin: 20px 0;
    padding-right: 20px;
}
.box2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.columns{
    display: flex;
    justify-content: space-between;
}
.bind{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eth{
    color: var(--Cyan);
    padding-left: 10px;
    font-weight: 600;
}
.clock{
    color: var(--Softblue);
    padding-left: 10px;
    font-weight: 600;

}
.hero{
    display: flex;
    align-items: center;
}
.avatar-img{
    width: 40px;
    border: solid 1px white;
    border-radius: 100%;
}
.avatar{
    color: var(--Softblue);
    padding-left: 20px;
}
